.active{
    background-color: #4CAF50;
}

.sign {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
  }
  
.bg {
    background-image: url("bmsce.jpg");
    filter: blur(8px);
    height: 120%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
  }
p a{
    background-color:white;
    margin: 0;
    padding-bottom: 0;
    color: aliceblue;
    float: left;
}
p img{
    float: right;
}
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
nav {
    position: sticky;
    top:0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
    z-index: 1;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background:#42cfcf;
}


form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  text-align: center;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
